    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300;400&display=swap');
    body {
        background-color: #3FB8D2;
    }
    
    .card {
        background-color: white;
        border: 1px solid white;
        border-radius: 24px;
        width: 350px;
        height: 420px;
        margin-left: 480px;
        margin-top: 100px;
    }
    
    .card-img {
        width: 68px;
        height: 68px;
        margin-left: 140px;
        margin-top: 20px;
    }
    
    .card>h1 {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
    
    .card>input {
        width: 280px;
        height: 36px;
        margin-top: 10px;
        margin-right: 200px;
        font-size: 22px;
        margin: 14px;
        margin-left: 30px
    }
    
    .card-btn {
        width: 290px;
        height: 40px;
        margin-top: 10px;
        margin-right: 200px;
        font-size: 30px;
        margin: 12px;
        margin-left: 30px;
        color: white;
        background-color: #3FB8D2;
        border: 2px solid #3FB8D2;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
    
    .card>p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 15px;
        text-align: center;
        margin-top: 2px;
    }